* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #1e2a78;
}

header {
    background-color: #ff1f5a;
    height: 9px;
    display: block;
}

.image {
    display: flex;
    position: relative;
    width: 186px;
    height: 186px;
    overflow: hidden;
    border-radius: 50%;
    margin: 49px auto 10px auto;
}

.image img {
    width: 100%;
    height: 100%;
    transform: rotateZ(-90deg);
}

h1 {
    font-family: Raleway;
    font-size: 36px;
    font-weight: 200;
    line-height: 32.4px;
    color: #ffd615;
    text-align: center;
    line-height: 3rem;
}

hr {
    display: block;
    color: white;
    width: 230px;
    font-size: 15px;
    text-align: center;
    margin: 20px auto 20px;
}

p {
    color: white;
    font-family: Raleway;
    text-align: center;
    line-height: 2rem;
}

ul {
    text-align: center;
    margin: 20px auto;
}

li {
    display: inline;
    padding: 1rem;
}

li a {
    color: #ff1f5a;
    text-decoration: none;
}

footer {
    display: block;
    position: fixed;
    width: 100%;
    color: #ffffff;
    text-align: center;
    margin-bottom: 10px;
    bottom: 0;
}

@media only screen and (max-width: 600px) {
    li {
        display: block;
        padding: 10px;
    }
    .image {
        display: flex;
        position: relative;
        width: 160px;
        height: 160px;
        overflow: hidden;
        border-radius: 50%;
        margin: 49px auto 10px auto;
    }
    h1 {
        font-family: Raleway;
        font-size: 30px;
        font-weight: 200;
        line-height: 20px;
        color: white;
        text-align: center;
        line-height: 2rem;
    }
}