* {
    padding: 0;
    margin: 0;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

body {
    background-color: #343233;
}

header {
    background-color: #dda032;
    height: 9px;
    display: block;
}

.image {
    display: flex;
    position: relative;
    width: 186px;
    height: 186px;
    overflow: hidden;
    border-radius: 50%;
    margin: 49px auto 10px auto;
}

.image img {
    height: 100%;
}

.image-thilina {
    display: flex;
    position: relative;
    width: 186px;
    height: 186px;
    overflow: hidden;
    border-radius: 50%;
    margin: 49px auto 10px auto;
}

.image-thilina img {
    width: 100%;
    height: 100%;
}

.image-ayomi {
    display: flex;
    position: relative;
    width: 186px;
    height: 186px;
    overflow: hidden;
    border-radius: 50%;
    margin: 49px auto 10px auto;
}

.image-ayomi img {
    width: 186px;
    height: auto;
}

h1 {
    font-family: Raleway;
    font-size: 36px;
    font-weight: 200;
    line-height: 32.4px;
    color: #efdab9;
    text-align: center;
    line-height: 3rem;
}

hr {
    display: block;
    color: #efdab9;
    width: 230px;
    font-size: 15px;
    text-align: center;
    margin: 20px auto 20px;
}

p {
    color: #efdab9;
    font-family: Raleway;
    text-align: left;
    line-height: 1.5rem;
    padding: 0 1.5rem 1.5rem 1.5rem;
    font-style: italic;
}

h4 {
    color: #efdab9;
    font-family: Raleway;
    padding-right: 2rem;
    font-style: italic;
    float: right;
}

ul {
    text-align: center;
    margin: 2rem;
}

li {
    display: inline;
    padding: 1rem;
}

li a {
    color: #dda032;
    text-decoration: none;
}

footer {
    display: block;
    position: relative;
    width: 100%;
    color: #95928a;
    text-align: center;
    margin-bottom: 10px;
    bottom: 0;
}

@media only screen and (max-width: 1126px) {
    .main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    footer {
        display: block;
        position: relative;
        width: 100%;
        color: #95928a;
        text-align: center;
        margin-bottom: 10px;
        bottom: 0;
    }
}

@media only screen and (max-width: 600px) {
    .image {
        display: flex;
        position: relative;
        width: 160px;
        height: 160px;
        overflow: hidden;
        border-radius: 50%;
        margin: 49px auto 10px auto;
    }
    h1 {
        font-family: Raleway;
        font-size: 30px;
        font-weight: 200;
        line-height: 20px;
        color: #efdab9;
        text-align: center;
        line-height: 2rem;
    }
    .main {
        display: grid;
        grid-template-columns: 1fr;
    }
    footer {
        display: block;
        position: relative;
        width: 100%;
        color: #95928a;
        text-align: center;
        margin-bottom: 10px;
        bottom: 0;
    }
}

@media only screen and (max-height: 600px) {
    footer {
        display: block;
        position: relative;
        width: 100%;
        color: #95928a;
        text-align: center;
        margin-bottom: 10px;
        bottom: 0;
    }
}

@media only screen and (max-width: 721px) {
    h4 {
        font-size: smaller;
    }
}

.social-icon {
    width: 20%;
}

.demo {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Rubik", sans-serif;
    font-size: 3rem;
}

@media only screen and (max-width: 830px) {
    .demo {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: "Rubik", sans-serif;
        font-size: 3rem;
    }
}

.body-index {
    background-color: aqua;
}