* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    background-size: cover;
    background-position: center center;
}

.menu li a {
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
    display: block;
    padding: 0 25px;
    position: relative;
}

.menu li {
    list-style: none;
    display: inline-block;
}

.main {
    padding-top: 25px;
}

nav {
    position: relative;
    padding: 10px 20px 10px 10px;
    text-align: right;
    z-index: 1;
    margin: 0 auto;
    width: calc(100% - 60px);
}

img {
    width: 15%;
    float: left;
    margin-top: -30px;
}

.para {
    position: relative;
    display: flex;
    width: 400px;
    margin-top: 100px;
    margin-left: 50px;
    flex-direction: column;
}

.name {
    color: white;
    position: relative;
    font-size: 50px;
}

.discription {
    color: white;
    padding-top: 20px;
}

.main_image {
    position: relative;
    display: flex;
}